// Navigation Styles here
nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
    @media @mobile {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    a {
        font-size: 1.6rem;
        margin-top: 15px;
        text-decoration: none;
    }
}